.#{$cn-prefix}-animation-duration-quick {
  animation-duration: 0.5s;
}
.#{$cn-prefix}-animation-duration-middle {
  animation-duration: 1s;
}
.#{$cn-prefix}-animation-duration-slow {
  animation-duration: 1.5s;
}