body {
  background-color: #eee;
}

.demo {
  width: 100%;
  margin-top: 150px;
  &:first-child {
    margin-top: 0;
  }
}

.example{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}